Repository networktocode/ntc-templates, pull requests merged in 2020-02, with the labels that each got.

#592 Fixed regex for fortinet bgp template and added new template standards
  templates/fortinet_fortios_get_router_info_bgp_summary.textfsm
  tests/fortinet_fortios/get_router_info_bgp_summary/get_router_info_bgp_summary.raw
  tests/fortinet_fortios/get_router_info_bgp_summary/get_router_info_bgp_summary.yml
Labels: bug, changes_requested

#595 Added Checkpoint GAIA show arp dynamic all template
  templates/checkpoint_gaia_show_arp_dynamic_all.textfsm
  templates/index
  tests/checkpoint_gaia/show_arp_dynamic_all/checkpoint_gaia_show_arp_dynamic_all.raw
  tests/checkpoint_gaia/show_arp_dynamic_all/checkpoint_gaia_show_arp_dynamic_all.yml
Labels: New Template, changes_requested

#593 New Template - CISCO IOS - Show Module
  templates/cisco_ios_show_module.textfsm
  templates/cisco_ios_show_module_online_diag.textfsm
  templates/cisco_ios_show_module_status.textfsm
  templates/cisco_ios_show_module_submodule.textfsm
  templates/index
  tests/cisco_ios/show_module/cisco_ios_show_module1.raw
  tests/cisco_ios/show_module/cisco_ios_show_module1.yml
Labels: Internal Review Requested, changes_requested

#597 add huawei vrp display version
  templates/huawei_vrp_display_version.textfsm
  templates/index
  tests/huawei_vrp/display_version/huawei_vrp_display_version.raw
  tests/huawei_vrp/display_version/huawei_vrp_display_version.yml
  tests/huawei_vrp/display_version/huawei_vrp_display_version1.raw
  tests/huawei_vrp/display_version/huawei_vrp_display_version1.yml
  tests/huawei_vrp/display_version/huawei_vrp_display_version2.raw
  tests/huawei_vrp/display_version/huawei_vrp_display_version2.yml
Labels: New Template, changes_requested

#596 Cisco XR - admin show environment power - template
  templates/cisco_xr_admin_show_environment_power.textfsm
  templates/index
  tests/cisco_xr/admin_show_environment_power/cisco_xr_admin_show_environment_power.raw
  tests/cisco_xr/admin_show_environment_power/cisco_xr_admin_show_environment_power.yml
Labels: New Template, changes_requested

#594 add show arp for aruba_os
  templates/aruba_os_show_arp.textfsm
  templates/index
  tests/aruba_os/show_arp/aruba_os_show_arp.raw
  tests/aruba_os/show_arp/aruba_os_show_arp.yml
Labels: New Template, changes_requested
