Repository networktocode/ntc-templates, pull requests merged in 2020-03, with the labels that each got.

#605 New Template: cisco_s300_show_version
  templates/cisco_s300_show_version.textfsm
  templates/index
  tests/cisco_s300/show_version/cisco_s300_show_version.raw
  tests/cisco_s300/show_version/cisco_s300_show_version.yml
  tests/cisco_s300/show_version/cisco_s300_show_version2.raw
  tests/cisco_s300/show_version/cisco_s300_show_version2.yml
Labels: New Template, changes_requested

#604 Enhancement: cisco_nxos_show_vlan: Added interfaces
  templates/cisco_nxos_show_vlan.textfsm
  tests/cisco_nxos/show_vlan/cisco_nxos_show_vlan.yml
  tests/cisco_nxos/show_vlan/cisco_nxos_show_vlan2.raw
  tests/cisco_nxos/show_vlan/cisco_nxos_show_vlan2.yml
Labels: enhancement

#600 New Template Show Mpls interface
  templates/cisco_ios_show_mpls_interfaces.textfsm
  templates/index
  tests/cisco_ios/show_mpls_interfaces/cisco_ios_show_mpls_interfaces.raw
  tests/cisco_ios/show_mpls_interfaces/cisco_ios_show_mpls_interfaces.yml
Labels: New Template, changes_requested

#599 New Template : Show Etherchannel Summary
  templates/cisco_ios_show_etherchannel_summary.textfsm
  templates/index
  tests/cisco_ios/show_etherchannel_summary/show_etherchannel_summary.raw
  tests/cisco_ios/show_etherchannel_summary/show_etherchannel_summary.yml
Labels: New Template, changes_requested

#612 Adding vlan name to access vlan and native vlan on NXOS
  templates/cisco_nxos_show_interfaces_switchport.textfsm
  tests/cisco_nxos/show_interfaces_switchport/cisco_nxos_show_interfaces_switchport.yml
  tests/cisco_nxos/show_interfaces_switchport/cisco_nxos_show_interfaces_switchport_voice_vlan.yml
Labels: changes_requested, enhancement

#608 Fix regex: Update VyOS template to match addresses without netmask de…
  templates/vyatta_vyos_show_interfaces.textfsm
  tests/vyatta_vyos/show_interfaces/vyatta_vyos_show_interfaces.raw
  tests/vyatta_vyos/show_interfaces/vyatta_vyos_show_interfaces.yml
Labels: bug, changes_requested

#609 New Template: hp comware show ip interface
  templates/hp_comware_display_ip_interface.textfsm
  templates/index
  tests/hp_comware/display_ip_interface/hp_comware_display_ip_interface.raw
  tests/hp_comware/display_ip_interface/hp_comware_display_ip_interface.yml
Labels: New Template, changes_requested

#606 New Template: cisco_ios_show_ip_ospf_database_router
  templates/cisco_ios_show_ip_ospf_database_router.textfsm
  templates/index
  tests/cisco_ios/show_ip_ospf_database_router/cisco_ios_show_ip_ospf_database_router.raw
  tests/cisco_ios/show_ip_ospf_database_router/cisco_ios_show_ip_ospf_database_router.yml
Labels: New Template, changes_requested

#619 New Template: hp_comware_display_lldp_neighbor-information_verbose
  templates/hp_comware_display_lldp_neighbor-information_verbose.textfsm
  templates/index
  tests/hp_comware/display_lldp_neighbor-information_verbose/hp_comware_display_lldp_neighbor-information_verbose.raw
  tests/hp_comware/display_lldp_neighbor-information_verbose/hp_comware_display_lldp_neighbor-information_verbose.yml
Labels: New Template, changes_requested

#628 cisco_wlc show mobility summary
  templates/cisco_wlc_ssh_show_mobility_sum.textfsm
  templates/index
  tests/cisco_wlc_ssh/show_mobility_sum/cisco_wlc_ssh_show_mobility_sum.raw
  tests/cisco_wlc_ssh/show_mobility_sum/cisco_wlc_ssh_show_mobility_sum.yml
Labels: New Template, changes_requested

#636 Adds Cisco ASA show vpn-sessiondb
  templates/cisco_asa_show_vpn-sessiondb.textfsm
  templates/index
  tests/cisco_asa/show_vpn-sessiondb/cisco_asa_show_vpn-sessiondb.raw
  tests/cisco_asa/show_vpn-sessiondb/cisco_asa_show_vpn-sessiondb.yml
Labels: New Template, changes_requested
